- var page_title = 'about us'
doctype html
html(lang="en")
include head
body
    .page-wrapper
        .content
            include ../blocks/navbar/navbar
            include ../blocks/title/title
        include ../blocks/footer/footer