- var pageTitle = 'About Us'
- var activeIndex = 1
doctype html
html(lang="en")
  include tmpl/head
  body
    .page-wrapper
      .content-wrapper
        include ../components/navbar/navbar
        include ../blocks/title/title
        include ../blocks/about/about
      .footer-wrapper
        include ../blocks/footer/footer
    include tmpl/sources