- var pageTitle = 'Blog'
- var activeIndex = 2
doctype html
html(lang="en")
    include tmpl/head
    body
        .page-wrapper
            .content
                include ../blocks/navbar/navbar
                include ../blocks/title/title
                include ../blocks/blog/blog
            include ../blocks/footer/footer
        include tmpl/sources