- var pageTitle = 'Contact Us'
- var activeIndex = 4
doctype html
html(lang="en")
  include tmpl/head
  body
    .page-wrapper
      .content-wrapper
        include ../components/navbar/navbar
        include ../blocks/title/title
        include ../blocks/contact/contact
      .footer-wrapper
        include ../blocks/footer/footer
    include tmpl/sources