- var pageTitle = 'Error'
- var activeIndex = 0
doctype html
html(lang="en")
  include tmpl/head
  body
    .page-wrapper
      .content-wrapper
        include ../components/navbar/navbar
        include ../blocks/title/title
        .container 404
      .footer-wrapper
        include ../blocks/footer/footer
    include tmpl/sources