- var pageTitle = 'Blog'
- var activeIndex = 2
doctype html
html(lang="en")
  include tmpl/head
  body
    .page-wrapper
      .content-wrapper
        include ../components/navbar/navbar
        include ../blocks/title/title
        include ../blocks/post/post
      include ../blocks/footer/footer
    include tmpl/sources