.slider__btnbox
  position: absolute
  top: 40%
  height: 18%
  width: 5%

.slider__btnbox_left
  left: 2.5%

.slider__btnbox_right
  right: 2.5%

.slider__btn
  height: 100%
  width: 100%
  opacity: 0.6
  transition: opacity 200ms
  z-index: 10
  stroke: #ffffff
  fill: #ffffff
  &:hover
    opacity: 1