.slider__info
  position: absolute
  top: 240px
  left: 35px
  width: 350px
  background: rgba(232, 96, 58, 0.8)
  padding: 20px

.slider__header
  font-family: "Bebas", sans-serif
  text-transform: uppercase
  font-size: 18px
  color: #ffffff
  word-spacing: 2px

.slider__text
  font-family: "Open Sans", sans-serif
  font-size: 12px
  font-weight: 600
  color: #ffffff
  margin-bottom: 0
