.slider
    .slider__slide
        img.slider__img(src='img/slide_1.png', alt='slide')
        .slider__info
            h2.slider__header slide one
            p.slider__text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                | Accusantium aliquid aspernatur exercitationem facilis numquam tenetur voluptas? Ab
                | commodi eius enim.
    .slider__slide
        img.slider__img(src='img/slide_2.png', alt='slide')
        .slider__info
            h2.slider__header slide two
            p.slider__text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                | Accusantium aliquid aspernatur exercitationem facilis numquam tenetur voluptas? Ab
                | commodi eius enim.
    .slider__slide
        img.slider__img(src='img/slide_3.png', alt='slide')
        .slider__info
            h2.slider__header slide three
            p.slider__text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                | Accusantium aliquid aspernatur exercitationem facilis numquam tenetur voluptas? Ab
                | commodi eius enim.
    .slider__slide
        img.slider__img(src='img/slide_4.png', alt='slide')
        .slider__info
            h2.slider__header slide four
            p.slider__text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                | Accusantium aliquid aspernatur exercitationem facilis numquam tenetur voluptas? Ab
                | commodi eius enim.
    .slider__slide
        img.slider__img(src='img/slide_5.png', alt='slide')
        .slider__info
            h2.slider__header slide five
            p.slider__text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                | Accusantium aliquid aspernatur exercitationem facilis numquam tenetur voluptas? Ab
                | commodi eius enim.
    .slider__slide
        img.slider__img(src='img/slide_6.png', alt='slide')
        .slider__info
            h2.slider__header slide six
            p.slider__text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                | Accusantium aliquid aspernatur exercitationem facilis numquam tenetur voluptas? Ab
                | commodi eius enim.
    .slider__btnbox.slider__btnbox_left
        svg.slider__btn(width="32" height="32" viewBox="0 0 32 32")
            path(d="M24.049 29.084l2.936-2.916-5.097-5.088-5.097-5.089 5.104-5.095L27 5.8l-2" +
            ".964-2.9L21.072 0l-8.036 7.999L5 15.997 13.056 24l8.057 8 2.936-2.916z")
    .slider__btnbox.slider__btnbox_right
        svg.slider__btn(width="32" height="32" viewBox="0 0 32 32")
            path(d="M7.951 29.084l-2.936-2.916 5.097-5.088 5.097-5.089-5.104-5.095L5 5.8l2.964-2" +
            ".9L10.928 0l8.036 7.999L27 15.997 18.944 24l-8.057 8-2.936-2.916z")