.slider
  position: relative
  box-sizing: content-box
  border-left: 10px solid #ffffff
  border-right: 10px solid #ffffff

.slider_fade
  background: transparent

@media screen and (max-width: 1000px)
  .slider
    border: 0