.sidepane-wrapper
    .sidepane.sidepane_top
    .container.sidepane-border
        .slider
            .slider__slide
                img.slider__img(src='img/slide_1.png', alt='slide')
                .slider__info
                    h.slider__header slide one
                    p.slider__text
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        | Accusantium aliquid aspernatur exercitationem facilis numquam tenetur voluptas? Ab
                        | commodi eius enim.
            .slider__slide
                img.slider__img(src='img/slide_2.png', alt='slide')
                .slider__info
                    h.slider__header slide two
                    p.slider__text
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        | Accusantium aliquid aspernatur exercitationem facilis numquam tenetur voluptas? Ab
                        | commodi eius enim.
            .slider__slide
                img.slider__img(src='img/slide_3.png', alt='slide')
                .slider__info
                    h.slider__header slide three
                    p.slider__text
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        | Accusantium aliquid aspernatur exercitationem facilis numquam tenetur voluptas? Ab
                        | commodi eius enim.
            .slider__slide
                img.slider__img(src='img/slide_4.png', alt='slide')
                .slider__info
                    h.slider__header slide four
                    p.slider__text
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        | Accusantium aliquid aspernatur exercitationem facilis numquam tenetur voluptas? Ab
                        | commodi eius enim.
            .slider__slide
                img.slider__img(src='img/slide_5.png', alt='slide')
                .slider__info
                    h.slider__header slide five
                    p.slider__text
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        | Accusantium aliquid aspernatur exercitationem facilis numquam tenetur voluptas? Ab
                        | commodi eius enim.
            .slider__slide
                img.slider__img(src='img/slide_6.png', alt='slide')
                .slider__info
                    h.slider__header slide six
                    p.slider__text
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        | Accusantium aliquid aspernatur exercitationem facilis numquam tenetur voluptas? Ab
                        | commodi eius enim.
            .slider__btn.slider__btn_left
                i.icon-left-open
            .slider__btn.slider__btn_right
                i.icon-right-open