.button
  @include defaultHeader
  text-decoration: none
  font-size: 12px
  text-align: center
  display: block
  background: $headColor
  color: #ffffff
  padding: 8px 10px 6px
  border: none
  margin-bottom: 40px
  transition: color 200ms
  outline: none
  &:hover
    color: $altColor

.button_more
  position: absolute
  bottom: 0
  width: 35px

.button_submit
  width: 75px

@media screen and (max-width: 580px)
  .button_more
    position: static
    margin-bottom: 20px