.blog__postlist
  @include pageContent

.blog__post
  position: relative

.blog__iconbox
  position: absolute
  left: -85px
  width: 75px
  height: 75px
  text-align: center
  line-height: 75px
  background: $baseColor

.blog__icon
  font-size: 32px
  color: #ffffff

.blog__pic
  img
    height: 100%
    width: 100%

.blog__text
  display: flex
  margin-top: 25px
  margin-bottom: 30px

.blog__info
  @include defaultText
  flex: 3
  margin: 1px 5px 20px 2px

.blog__info-meta
  display: flex
  flex-direction: column

.blog__info-title
  @include defaultHeader
  font-size: 12px
  margin-bottom: 5px

.blog__info-text
  @include defaultText
  color: $disabledColor
  margin-bottom: 15px
  a
    text-decoration: none
    color: $disabledColor

.blog__article
  flex: 11
  margin-left: 2px
  h2.blog__header
    @include defaultHeader
    font-weight: 500
    margin-top: 3px
    margin-bottom: 15px

.blog__post-link
  text-decoration: none

.blog__article, .blog__link
  @include post

.blog__link a
  display: block
  @include defaultText
  color: $disabledColor
  text-decoration: none
  margin-top: -12px
  margin-bottom: 20px

.blog__line
  @include bottomLine
  margin-bottom: 45px

@media screen and (max-width: 1130px)
  .blog__iconbox
    display: none

@media screen and (max-width: 640px)
  .blog
    flex-direction: column

  .blog__postlist
    margin-right: 0

@media screen and (max-width: 520px)
  .blog__text
    flex-direction: column

  .blog__info-meta
    flex-direction: row
    display: inline-block
    margin-bottom: 10px

  .blog__info-title
    display: inline-block
    @include defaultHeader
    margin-right: 10px
    font-size: 12px

  .blog__info-text
    display: inline-block
    @include defaultText
    color: $disabledColor
    text-transform: capitalize
    margin-right: 30px
    a
      text-decoration: none
      color: $disabledColor