@mixin quote
  margin-left: 50px
  padding-left: 20px
  font-style: italic
  color: $quoteColor
  border-left: 8px solid $baseColor

@mixin bottomLine
  position: relative
  left: 0
  height: 14px
  width: 100%
  background: url('../img/s_line.png') repeat-x left

@mixin postContent
  p
    @include paragraph
    margin-bottom: 20px

  h1
    @include heading
    margin-top: 40px
    margin-bottom: 20px

  h2
    @include heading
    font-size: 14px
    margin-top: 30px
    margin-bottom: 20px

  h3
    @include heading
    font-size: 14px
    font-style: italic
    margin-top: 30px
    margin-bottom: 20px

  h4
    @include heading
    font-size: 12px
    margin-top: 20px
    margin-bottom: 15px

  h5
    @include heading
    font-size: 12px
    font-style: italic
    margin-top: 20px
    margin-bottom: 15px

  strong
    font-weight: 700

  hr
    @include bottomLine
    margin-top: 20px
    margin-bottom: 20px
    border: 0

  em
    font-style: italic

  blockquote
    @include paragraph
    @include quote
    margin-bottom: 20px

  ul
    margin-left: 20px
    margin-bottom: 20px

    li
      @include paragraph
      list-style-type: disc

  ol
    margin-left: 20px
    margin-bottom: 20px

    li
      @include paragraph
      list-style-type: decimal
