/**
 *     Flex Layout Grid
 *     Created by Andrii Sorokin on 5/19/17
 *     https://github.com/ignorantic/flex-layout.git
 */

$colCount: 12
$containerWidth: 940px
$screens: (xxs: 320, xs: 480, sm: 768, md: 992, lg: 1200)
$divider: '-'
$colWidth: 100% / $colCount

.container,
.container#{$divider}fluid
  width: 95%
  margin: auto

.row
  display: flex
  flex-direction: row
  flex-wrap: wrap

.row#{$divider}nowrap
  flex-wrap: nowrap

.row#{$divider}reverse
  flex-direction: row-reverse

.row#{$divider}space-between
  justify-content: space-between

.row#{$divider}space-around
  justify-content: space-around

.col#{$divider}reverse
  flex-direction: column-reverse

@for $i from 1 through $colCount
  .col#{$divider}#{$i}
    flex-basis: $i * $colWidth
    max-width: $i * $colWidth

@for $i from 1 through $colCount
  .col#{$divider}offset-#{$i}
    margin-left: $i * $colWidth

@for $i from 1 through $colCount
  .col#{$divider}-order-#{$i}
    order: $i

@each $abbr, $width in $screens

  @media only screen and (min-width: #{$width}px)

    .row#{$divider}space-between-#{$abbr}
      justify-content: space-between

    .row#{$divider}space-around-#{$abbr}
      justify-content: space-around

    @if $width > 768
      .container
        width: $containerWidth

    @for $i from 1 through $colCount
      .col#{$divider}#{$abbr}-#{$i}
        flex-basis: $i * $colWidth
        max-width: $i * $colWidth

    @for $i from 1 through $colCount
      .col#{$divider}#{$abbr}-offset-#{$i}
        margin-left: $i * $colWidth

    @for $i from 1 through $colCount
      .col#{$divider}#{$abbr}-order-#{$i}
        order: $i
