$baseColor: #e8603a
$altColor: #f2af9e
$headColor: #e7663c
$textColor: #000000
$altTextColor: #ffffff
$quoteColor: #5a5a5a
$disabledColor: #b9b9b9
$menuBackColor: #dddddd
$transBackColor: rgba(232, 96, 58, 0.8)