.container.h-line
    .h-line__text recent works
    .h-line__img
.container.work-list
    .work-card
        a.work-card__link(href='#')
            img.work-card__img(src='img/work_1.png', alt='work')
        .work-card__info
            .work-card__title character disign
            .work-card__date june 15, 2012
    .work-card
        a.work-card__link(href='#')
            img.work-card__img(src='img/work_2.png', alt='work')
        .work-card__info
            .work-card__title brochure disign
            .work-card__date june 15, 2012
    .work-card
        a.work-card__link(href='#')
            img.work-card__img(src='img/work_3.png', alt='work')
        .work-card__info
            .work-card__title social media buttons
            .work-card__date june 15, 2012
    .work-card
        a.work-card__link(href='#')
            img.work-card__img(src='img/work_4.png', alt='work')
        .work-card__info
            .work-card__title 10 amazing websites
            .work-card__date june 15, 2012