.container.recent
    .recent__card
        a.recent__link(href='#')
            img.recent__img(src='../img/work_1.png', alt='work')
        .recent__info
            .recent__title character disign
            .recent__date june 15, 2012
    .recent__card
        a.recent__link(href='#')
            img.recent__img(src='../img/work_2.png', alt='work')
        .recent__info
            .recent__title brochure disign
            .recent__date june 15, 2012
    .recent__card
        a.recent__link(href='#')
            img.recent__img(src='../img/work_3.png', alt='work')
        .recent__info
            .recent__title social media buttons
            .recent__date june 15, 2012
    .recent__card
        a.recent__link(href='#')
            img.recent__img(src='../img/work_4.png', alt='work')
        .recent__info
            .recent__title 10 amazing websites
            .recent__date june 15, 2012
