.container.article-preview
    .article-preview__section
        i.article-preview__icon.icon-cog
        h2.article-preview__header check out my latest portfolio items
        p.article-preview__text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
            | consequatur dolorem ea, eius eveniet facere laborum molestiae nesciunt non, placeat porro quasi
            | qui quibusdam soluta voluptatum! Accusamus alias aliquid commodi dignissimos dolorem dolores
            | dolorum eos eum, ex natus omnis optio quia repellat reprehenderit sed suscipit tenetur totam vero
            | voluptate voluptates?
        a.article-preview__more(href='#') More
    .article-preview__section
        i.article-preview__icon.icon-ok
        h2.article-preview__header offer top notch quality  work &amp; services
        p.article-preview__text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. At aut
            | blanditiis consectetur, consequatur eveniet expedita laudantium molestias non quisquam vero
            | voluptatibus voluptatum. Distinctio, eius itaque molestias sint sunt ullam. Dicta dolores, ea
            | fuga iste quo vitae. A at aut earum magni modi natus nemo obcaecati quisquam repellat sequi unde,
            | voluptate!
        a.article-preview__more(href='#') More
    .article-preview__section
        i.article-preview__icon.icon-user
        h2.article-preview__header follow me on twitter, facebook &amp; pinterest
        p.article-preview__text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum
            | doloremque, ex incidunt modi nam natus nemo non odit, porro quasi reiciendis, voluptates?
            | Accusamus doloremque laudantium libero magni placeat praesentium provident, quas repellendus
            | sequi unde? Asperiores cum eum, explicabo fugit laudantium ratione reiciendis! Accusantium animi
            | asperiores in quas, quasi ullam voluptates!
        a.article-preview__more(href='#') More
