.pagination
  margin-left: 4px
  display: flex

  a
    display: block
    font-size: 14px
    color: $altTextColor
    text-decoration: none

  li
    @include heading
    display: block
    background: $altColor
    height: 26px
    width: 26px
    text-align: center
    line-height: 30px
    margin-right: 4px
    transition: background 200ms

    &:hover
      background: $baseColor

  .active
    background: $baseColor
