nav.navigation.pagination(role="navigation")
    h2.screen-reader-text Posts navigation
        .nav-links
            span.page-numbers.current 1
            a.page-numbers(href='#') 2
            a.page-numbers(href='#') 3



<nav class="navigation pagination" role="navigation">
    <h2 class="screen-reader-text">Posts navigation</h2>
    <div class="nav-links">
        <span class="page-numbers current">1</span>
        <a class="page-numbers" href="http://localhost/index.php/blog/page/2/">2</a>
        <a class="page-numbers" href="http://localhost/index.php/blog/page/3/">3</a>
    </div>
</nav>