@import 'feedback'

.contact
  @media screen and (max-width: 640px)
    flex-direction: column


.contact__content
  @include pageContent
  @media screen and (max-width: 640px)
    margin-right: 0


.map
  margin-bottom: 30px
  background: $altColor
