@import "feedback"

.contact
  @media screen and (max-width: 640px)
    flex-direction: column

.contact__content
  @include page-content
  @media screen and (max-width: 640px)
    margin-right: 0

.map
  margin-bottom: 30px
  background: $alt-color