.sidepane-wrapper
    .sidepane.sidepane_bottom
    .container.sidepane-border
        footer.footer
            .footer__column
                span.footer__header
                    a(href='about.html') about jetro
                p.footer__text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda
                    | doloribus incidunt iusto laudantium nihil obcaecati quos? A aliquid consectetur eos, et illum
                    | laboriosam laudantium quaerat quidem sapiente totam, veritatis?
                p.footer__text
                    | A aliquid consectetur eos, et illum laboriosam laudantium quaerat quidem
                    | sapiente totam, veritatis?
            .footer__column
                span.footer__header twitter widget
                p.footer__text
                    span.footer__span @pixelmater
                    | What an awesome design with
                    | great functionality :)
                p.footer__text
                    span.footer__span about 1 hour ago
                p.footer__text
                    span.footer__span @designdude
                    | What an awesome design with
                    | great functionality :)
                p.footer__text
                    span.footer__span about 2 hour ago
                p.footer__text
                    | Follow
                    span.footer__span @bestpsdfreebies
            .footer__column
                span.footer__header
                    a(href='contact.html') contact us
                p.footer__text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
                    | dolores earum itaque laboriosam, nemo numquam.
                br
                p.footer__text
                    | information@jetro.com
                    br
                    | 1.222.333.4444
                br
                i.icon.icon-facebook
                =' '
                i.icon.icon-twitter
                =' '
                i.icon.icon-mail
                =' '
                i.icon.icon-rss
                =' '
                i.icon.icon-vimeo
                =' '