.sidepane-wrapper
    .sidepane.sidepane_bottom
    .container.sidepane-border
        .footer
            .footer__column
                h2.footer__header about jetro
                p.footer__text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda
                    | doloribus incidunt iusto laudantium nihil obcaecati quos? A aliquid consectetur eos, et illum
                    | laboriosam laudantium quaerat quidem sapiente totam, veritatis?
                p.footer__text
                    | A aliquid consectetur eos, et illum laboriosam laudantium quaerat quidem
                    | sapiente totam, veritatis?
            .footer__column
                h2.footer__header twitter widget
                p.footer__text
                    span.footer__span @pixelmater
                    | What an awesome design with
                    | great functionality :)
                p.footer__text
                    span.footer__span about 1 hour ago
                p.footer__text
                    span.footer__span @designdude
                    | What an awesome design with
                    | great functionality :)
                p.footer__text
                    span.footer__span about 2 hour ago
                p.footer__text
                    | Follow
                    span.footer__span @bestpsdfreebies
            .footer__column
                h2.footer__header contact us
                p.footer__text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
                    | dolores earum itaque laboriosam, nemo numquam.
                p.footer__text
                    | information@jetro.com
                    br
                    | 1.222.333.4444
                img.footer__social(src='img/facebook.png', alt='Facebook.com')
                =' '
                img.footer__social(src='img/twitter.png', alt='Twitter.com')
                =' '
                img.footer__social(src='img/mail.png', alt='E-Mail')
                =' '
                img.footer__social(src='img/rss.png', alt='RSS')
                =' '
                img.footer__social(src='img/vimeo.png', alt='Vimeo')