@import '../../mixins/theme'
@import '../../mixins/text'
@import 'work'


.portfolio
  margin-bottom: 5px
  display: flex
  flex-direction: column

.portfolio__filter
  display: flex
  margin-top: 10px
  margin-bottom: 35px
  flex-wrap: wrap

.portfolio__cat
  @include heading
  font-size: 13px
  color: $disabledColor
  text-decoration: none
  padding: 12px 5px 6px
  margin-right: 8px
  text-align: center
  vertical-align: middle

  &:hover
    color: $altColor

.portfolio__cat_active
  cursor: default
  color: $altTextColor
  background: $headColor
  padding-left: 10px
  padding-right: 12px

  &:hover
    color: $altTextColor
