.container.portfolio
    .portfolio__filter
        a.portfolio__cat.portfolio__cat_active(href='#') all
        a.portfolio__cat(href='#') print
        a.portfolio__cat(href='#') web
        a.portfolio__cat(href='#') photoshop
        a.portfolio__cat(href='#') wordpress
    .work-list
        .work-card
            a.work-card__link(href='#')
                img.work-card__img(src='img/work_1.png', alt='work')
            .work-card__info
                .work-card__title character disign
                .work-card__date june 15, 2012
        .work-card
            a.work-card__link(href='#')
                img.work-card__img(src='img/work_2.png', alt='work')
            .work-card__info
                .work-card__title brochure disign
                .work-card__date june 15, 2012
        .work-card
            a.work-card__link(href='#')
                img.work-card__img(src='img/work_3.png', alt='work')
            .work-card__info
                .work-card__title social media buttons
                .work-card__date june 15, 2012
        .work-card
            a.work-card__link(href='#')
                img.work-card__img(src='img/work_4.png', alt='work')
            .work-card__info
                .work-card__title 10 amazing websites
                .work-card__date june 15, 2012
        .work-card
            a.work-card__link(href='#')
                img.work-card__img(src='img/work_5.png', alt='work')
            .work-card__info
                .work-card__title poster
                .work-card__date june 15, 2012
        .work-card
            a.work-card__link(href='#')
                img.work-card__img(src='img/work_6.png', alt='work')
            .work-card__info
                .work-card__title web graphic element
                .work-card__date june 15, 2012
        .work-card
            a.work-card__link(href='#')
                img.work-card__img(src='img/work_7.png', alt='work')
            .work-card__info
                .work-card__title brochure disign
                .work-card__date june 15, 2012
        .work-card
            a.work-card__link(href='#')
                img.work-card__img(src='img/work_8.png', alt='work')
            .work-card__info
                .work-card__title big buck banney
                .work-card__date june 15, 2012
        .work-card
            a.work-card__link(href='#')
                img.work-card__img(src='img/work_9.png', alt='work')
            .work-card__info
                .work-card__title cartoon character
                .work-card__date june 15, 2012
        .work-card
            a.work-card__link(href='#')
                img.work-card__img(src='img/work_10.png', alt='work')
            .work-card__info
                .work-card__title sticker design
                .work-card__date june 15, 2012
        .work-card
            a.work-card__link(href='#')
                img.work-card__img(src='img/work_11.png', alt='work')
            .work-card__info
                .work-card__title business cards
                .work-card__date june 15, 2012
        .work-card
            a.work-card__link(href='#')
                img.work-card__img(src='img/work_12.png', alt='work')
            .work-card__info
                .work-card__title slider plugin
                .work-card__date june 15, 2012