.sidebar
    - var section_title = 'about jetro'
    include ../s-line/s-line
    .sidebar__section
        p.sidebar__text Lorem ipsum dolor sit amet, consetur adipisicing elit. Asperiores aut dignissimos error,
            |libero maiores molestiae reiciendis! Adipisci aliquid consequatur doloribus.
    - var section_title = 'categories'
    include ../s-line/s-line
    .sidebar__section
        ul.sidebar__list
            li Video (3)
            li Sport (5)
            li Media (2)
            li Entartaiment (7)
            li Life (4)
            li Super Coll Stuff (8)
    - var section_title = 'photo gallery'
    include ../s-line/s-line