.sidebar
    .side.widget.widget_text(id="text-2")
        h3.widget-title
            a(href='about.html') about jetro
        .textwidget
            p Lorem ipsum dolor sit amet, consetur adipisicing elit. Asperiores aut dignissimos error,
                |libero maiores molestiae reiciendis! Adipisci aliquid consequatur doloribus.
    .side.widget.widget_categories(id="categories-3")
        h3.widget-title categories
        ul
            li.cat-item
                a(href='blog.html') Video (3)
            li.cat-item
                a(href='blog.html') Sport (5)
            li.cat-item
                a(href='blog.html') Media (2)
            li.cat-item
                a(href='blog.html') Entartaiment (7)
            li.cat-item
                a(href='blog.html') Life (4)
            li.cat-item
                a(href='blog.html') Super Coll Stuff (8)