.sidebar
    .side.widget.widget_text(id="text-2")
        h3.widget-title about jetro
        .textwidget
            p Lorem ipsum dolor sit amet, consetur adipisicing elit. Asperiores aut dignissimos error,
                |libero maiores molestiae reiciendis! Adipisci aliquid consequatur doloribus.
    .side.widget.widget_categories(id="categories-3")
        h3.widget-title categories
        ul
            li.cat-item
                a(href='#') Video (3)
            li.cat-item
                a(href='#') Sport (5)
            li.cat-item
                a(href='#') Media (2)
            li.cat-item
                a(href='#') Entartaiment (7)
            li.cat-item
                a(href='#') Life (4)
            li.cat-item
                a(href='#') Super Coll Stuff (8)