- var page_title = 'Contact Us'
doctype html
html(lang="en")
include tmpl/head
body
    .page-wrapper
        .content
            include ../blocks/navbar/navbar
            include ../blocks/title/title
            include ../blocks/contact/contact
        include ../blocks/footer/footer