- var page_title = 'Portfolio'
doctype html
html(lang="en")
include tmpl/head
body
    .page-wrapper
        .content
            include ../blocks/navbar/navbar
            include ../blocks/title/title
        include ../blocks/footer/footer