.about__content
  @include pageContent

.about__text
  @include defaultText
  margin-bottom: 20px
  line-height: 1.5

.about__quote
  @include quote

.about__img
  float: left
  margin-right: 25px
  margin-bottom: 20px
  text-align: center

.about__img img
  vertical-align: middle
  border: 1px solid $disabledColor
  padding: 2px

@media screen and (max-width: 640px)
  .about
    flex-direction: column

  .about__content
    margin-right: 0

@media screen and (max-width: 420px)
  .about__img
    float: none
    margin-right: 0