@import "fonts-css/animation"
@import "fonts-css/awesome"
@import "fonts-css/awesome-codes"
@import "fonts-css/awesome-embedded"

@font-face
  font-family: "Bebas"
  src: url('../fonts/bebas.woff2') format('woff2'), url('../fonts/bebas.woff') format('woff'), url('../fonts/bebas.ttf') format('truetype')
  font-weight: normal
  font-style: normal