.thumbs
    .thumbs__thumb
        img.thumbs__img(src='img/slide_1.png', alt='slide')
    .thumbs__thumb
        img.thumbs__img(src='img/slide_2.png', alt='slide')
    .thumbs__thumb
        img.thumbs__img(src='img/slide_3.png', alt='slide')
    .thumbs__thumb
        img.thumbs__img(src='img/slide_4.png', alt='slide')
    .thumbs__thumb
        img.thumbs__img(src='img/slide_5.png', alt='slide')
    .thumbs__thumb
        img.thumbs__img(src='img/slide_6.png', alt='slide')
