.container.thumbs
    .thumbs__thumb
        img.thumbs__img(src='img/slide_thumb_1.png', alt='slide')
    .thumbs__thumb
        img.thumbs__img(src='img/slide_thumb_2.png', alt='slide')
    .thumbs__thumb
        img.thumbs__img(src='img/slide_thumb_3.png', alt='slide')
    .thumbs__thumb
        img.thumbs__img(src='img/slide_thumb_4.png', alt='slide')
    .thumbs__thumb
        img.thumbs__img(src='img/slide_thumb_5.png', alt='slide')
    .thumbs__thumb
        img.thumbs__img(src='img/slide_thumb_6.png', alt='slide')
