.container
    .logo
        span.logo__first jet
        span.logo__last ro
    nav.navbar
        .menu-btn
            i.icon-menu
        ul.menu
            li.menu-item.current-menu-item
                a.menu-link(href='index.html') home
            li.menu-item
                a.menu-link(href='about.html') about <span>us</span>
            li.menu-item
                a.menu-link(href='blog.html') blog
            li.menu-item
                a.menu-link(href='portfolio.html') portfolio
            li.menu-item
                a.menu-link(href='contact.html') contact <span>us</span>