.container
    .logo
        span.logo__first jet
        span.logo__last ro
    .navbar
        .navbar__btn
            i.icon-menu
        .navbar__list
            .navbar__item
                a.navbar__link(href='index.html') home
            .navbar__item
                a.navbar__link(href='about.html') about us
            .navbar__item
                a.navbar__link(href='blog.html') blog
            .navbar__item
                a.navbar__link(href='portfolio.html') portfolio
            .navbar__item
                a.navbar__link(href='contact.html') contact us