.container
    .logo
        span.logo__first jet
        span.logo__last ro
    nav.navbar
        .navbar__btn
            i.icon-menu
        ul.navbar__list
            li.navbar__item
                a.navbar__link(href='index.html') home
            li.navbar__item
                a.navbar__link(href='about.html') about
                    =' '
                    span.navbar__link_last us
            li.navbar__item
                a.navbar__link(href='blog.html') blog
            li.navbar__item
                a.navbar__link(href='portfolio.html') portfolio
            li.navbar__item
                a.navbar__link(href='contact.html') contact
                    =' '
                    span.navbar__link_last us