-
    navBar = [
        {'name': 'home', 'url': 'index.html'},
        {'name': 'about us','url': 'about.html'},
        {'name': 'blog', 'url': 'blog.html'},
        {'name': 'portfolio', 'url': 'portfolio.html'},
        {'name': 'contact us', 'url': 'contact.html'}]

.container.navbar
    .logo
        span.logo__first jet
        span.logo__last ro
    nav.menubar
        .menu-btn
            i.icon-menu
        ul.menu
            each item, index in navBar
                if activeIndex == index
                    - className = 'menu-item current-menu-item'
                else
                    - className = 'menu-item'
                li(class=className)
                        a.menu-link(href=item.url)=item.name
