@import "../mixins"

.title
  height: 60px
  width: 100%
  background: $head-color
  margin-bottom: 25px

.title__header
  @include header
  font-size: 24px
  font-weight: 500
  color: #ffffff
  margin-left: 20px
  margin-top: 22px