.blockquote
  i.icon-quote-left
  p Write anything you want here in this quotable area. Something unique you want people to
    | learn about your website or some cool random fact. Its totally up to you.