.post
  margin-bottom: 20px
  display: flex

.post__content
  @include pageContent

.post__pic
  img
    height: 100%
    width: 100%
    margin-bottom: 40px

.post__header
  @include heading
  font-size: 20px
  font-weight: 500
  margin-top: 0
  margin-bottom: 30px

.post__info
  @include paragraph
  margin: 0 5px 20px 0

.post__info-meta
  display: inline-block
  margin-bottom: 10px

.post__info-title
  @include heading
  display: inline-block
  margin-right: 10px
  font-size: 12px

.post__info-text
  @include paragraph
  display: inline-block
  color: $disabledColor
  margin-right: 30px

  a
    text-decoration: none
    color: $disabledColor

.post__text
  @include postContent
  margin-bottom: 40px

.post__link
  a
    @include paragraph
    display: block
    color: $disabledColor
    text-decoration: none
    margin-top: -12px
    margin-bottom: 20px

.post__line
  @include bottomLine
  margin-bottom: 20px

@media screen and (max-width: 640px)
  .post
    flex-direction: column

  .post__content
    margin-right: 0
