$base-color: #e8603a
$pale-color: #f2af9e
$head-color: #e7663c
$trans-bg-color: rgba(232, 96, 58, 0.8)

@mixin header
  font-family: "Bebas", sans-serif
  word-spacing: 2px
  color: $head-color
  text-transform: uppercase
  font-size: 18px

@mixin text
  font-family: "Open Sans", sans-serif
  font-size: 12px
  font-weight: 600
  color: #ffffff
  margin-bottom: 0