.form
    input.form__text(type="text", placeholder="firstname")
    br
    input.form__text(type="text", placeholder="lastname")
    br
    input.form__text(type="text", placeholder="emailaddress")
    br
    textarea.form__textarea(rows=10, placeholder="message")
    br
    input.form__submit(type="submit")