.form
    input.form__text(type="text", placeholder="firstname")
    input.form__text(type="text", placeholder="lastname")
    input.form__text(type="text", placeholder="emailaddress")
    textarea.form__textarea(rows=10, placeholder="message")
    input.button.button_submit(type="submit" value="submit")